@font-face {  
	font-family: Rave;
	src: url(rave.ttf);
}  

body {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "Helvetica", "Arial", "sans-serif";
	background: #FFE668;
    background-image: url(palmaMob.png);  
    background-repeat: no-repeat;  
    background-size: 100%;
	text-align: center;
    padding: 0px 50px 0px 50px;
}

.knopf {  
    width: 350px;  
    line-height: 70px;   
    border: 1px solid gray;
	border-radius: 30%;
    text-align: center;
	font-size: 40px;
    background: linear-gradient(to top, #96C2BF, #D2E6E4);    
    cursor: pointer; 
	color: firebrick; 
    box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.5);
}  
.knopf:hover {  
    color: orange;    
    background: linear-gradient(to top, #D2E6E4, #96C2BF);  
}  

#go {
	display: none;
	font-family: Rave;
    color: tomato;
	font-size: 80px;
}

#blockContainer, #boxContainer {
	padding-top: 30px;
    float: left;
}

#blockContainer{
	padding-top: 30px;
    float: right;
}

#effortPos {
    position:absolute;
    left: 50%;
    transform:translate(-50%,-50%); 
}

#effort {
	font-family: Rave;
    color: firebrick;
    transform: rotate(6deg);
}

.box, .block {
	border: 1px solid slategray;
	border-radius: 10%;
	background: linear-gradient(to top, khaki, bisque);
	margin: 15px 0px 15px 0px;
	width: 120px;
	height: 120px;
	font-size: 80px;
    text-shadow: 5px 5px 15px 3px rgba(0,0,0,0.3);
    color: saddlebrown;
	line-height: 120px;
    box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.3), inset -4px -4px 13px 2px rgba(0,0,0,0.3);
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.activ {
	background: orange;
}

.starr {
	margin: 0 0 0 0;
	background: mediumaquamarine;
    border: 0px;
}

.clear {
	/*clear: left;*/
}

footer {
    position: fixed;
    bottom: 1px;
    font-family: Arial;
    font-size: 10px;
    left: 50%;  
    transform: translate(-50%, 0);
    text-align: center;
    text-decoration: none;
    color: burlywood;
    z-index: -1;
}
footer a {
    color: chocolate;
    text-decoration: none;
}